<?xml version="1.0"?>
<!--
// {{license}}
-->
<config>
    <modules>
        <Meanbee_Diy>
            <version>0.3.0</version>
        </Meanbee_Diy>
    </modules>
    <global>
        <models>
            <diy>
                <class>Meanbee_Diy_Model</class>
                <!-- @TODO Work out how to make use of the db-agnostic resource -->
                <resourceModel>diy_mysql4</resourceModel>
            </diy>
            <diy_resource>
                <class>Meanbee_Diy_Model_Resource</class>
                <deprecatedNode>diy_mysql4</deprecatedNode>
                <entities>
                    <data><table>diy_data</table></data>
                </entities>
            </diy_resource>
            <diy_mysql4>
                <class>Meanbee_Diy_Model_Mysql4</class>
                <entities>
                    <data><table>diy_data</table></data>
                </entities>
            </diy_mysql4>
        </models>
        <blocks>
            <diy>
                <class>Meanbee_Diy_Block</class>
            </diy>
        </blocks>
        <helpers>
            <diy>
                <class>Meanbee_Diy_Helper</class>
            </diy>
        </helpers>
        <resources>
            <diy_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </diy_write>
            <diy_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </diy_read>
            <diy_setup>
                <setup>
                    <module>Meanbee_Diy</module>
                    <class>Meanbee_Diy_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </diy_setup>
        </resources>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <diy_layouts>
                        <type>singleton</type>
                        <class>diy/observer</class>
                        <method>layoutUpdates</method>
                    </diy_layouts>
                </observers>
            </controller_action_layout_generate_xml_before>
            <adminhtml_cms_page_edit_tab_design_prepare_form>
                <observers>
                    <diy_add_builder_to_page_design>
                        <type>singleton</type>
                        <class>diy/observer</class>
                        <method>adminCmsPageEdit</method>
                    </diy_add_builder_to_page_design>
                </observers>
            </adminhtml_cms_page_edit_tab_design_prepare_form>
            <controller_action_layout_render_before>
                <observers>
                    <diy_add_devtools>
                        <type>singleton</type>
                        <class>diy/observer</class>
                        <method>addDevTools</method>
                    </diy_add_devtools>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </global>

    <frontend>
        <translate>
            <modules>
                <diy>
                    <files>
                        <default>Meanbee_Diy.csv</default>
                    </files>
                </diy>
            </modules>
        </translate>
    </frontend>

    <admin>
        <routers>
            <diy>
                <use>admin</use>
                <args>
                    <module>Meanbee_Diy</module>
                    <frontName>diy</frontName>
                </args>
            </diy>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <diy>
                    <file>diy.xml</file>
                </diy>
            </updates>
        </layout>
        <translate>
            <modules>
                <diy>
                    <files>
                        <default>Meanbee_Diy.csv</default>
                    </files>
                </diy>
            </modules>
        </translate>
    </adminhtml>
</config>
