<?xml version="1.0"?>
<!--
// {{license}}
-->
<config>
    <sections>
        <diy translate="label" module="diy">
            <label>DIY Mage Settings</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>50</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <class>diymage-section</class>
            <groups>
                <license translate="label">
                    <label>License Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <email translate="label">
                            <label>Registered Email Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>The email address you used to purchase your license key.</comment>
                        </email>
                    </fields>
                </license>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <log_enabled translate="label">
                            <label>Logging Enabled?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </log_enabled>
                        <developer_enabled translate="label">
                            <label>Developer Mode Enabled?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <comment>If enabled we will reload the attributes on every page load.</comment>
                        </developer_enabled>
                        <developer_toolbar_enabled translate="label">
                            <label>Developer Toolbar Enabled?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                            <comment>If enabled will enable the developer toolbar on the frontend.</comment>
                        </developer_toolbar_enabled>
                    </fields>
                </general>
                <theme translate="label">
                    <label>Default Theme Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <twitter translate="label">
                            <label>Twitter Username</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[The Twitter account to be used as the "via" when sharing products, and the in the link towards the bottom right of the theme.]]></comment>
                            <sort_order>10</sort_order>
                        </twitter>
                        <facebook translate="label">
                            <label>Facebook Page</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Used in the footer towards the bottom right of the theme.  If we want to link to <tt>http://www.facebook.com/pages/Meanbee/80929859355</tt>, then we enter <tt>pages/Meanbee/80929859355</tt> in the above text box.]]></comment>
                            <sort_order>20</sort_order>
                        </facebook>
                        <youtube translate="label">
                            <label>Youtube Link</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Used in the footer towards the bottom right of them theme.  If we want to link to <tt>http://www.youtube.com/watch?v=OQSNhk5ICTI</tt>, then we enter <tt>watch?v=OQSNhk5ICTI</tt>.]]></comment>
                            <sort_order>30</sort_order>
                        </youtube>
                    </fields>
                </theme>
            </groups>
        </diy>
    </sections>
</config>