/** GROUP STYLING *************************************************/
#diy_form div.subgroup h3 {
    cursor: pointer;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.9), /* black */ 0px 1px 1px rgba(255, 255, 255, 0.1);
    color: white;
    background: #313131;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 10px 0;
}

#diy_form div.subgroup h3:before {
    content: "\25B6";
    padding-right: 10px;
}

#diy_form div.subgroup h3.open:before {
    content: "\25BC";
    padding-right: 8px;
}

div.subgroup p.diy.control {
	display: none;
}

/** GENERIC CONTROL STYLES ****************************************/
p.diy.control {
    padding: 10px;
    background: #f6f6f6;
    border:1px solid #eee;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 250px;
    float: left;
    margin-right: 10px;
	height: 125px;
}

p.diy.control label {
    color: #666;
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

p.diy.control span.help {
    display: block;
    margin-top: 10px;
    font-style: italic;
}

p.diy.control button {
    -moz-border-radius: 10px;
    border-radius: 12px;
    text-decoration: none;
    padding: 5px 20px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #e26500 url(../images/button-bg.png) top left repeat-x; /* orange */
    border: 1px solid #e26500; /* Orange for browsers that don't support rgba */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Black */
    color: #fff; /* white */
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2), /* Black */
                0px 1px 1px rgba(255, 255, 255, 0.3); /* White */
}

button:hover {
    background-position: bottom left;
}

/** COLOUR SPECIFIC STYLES ****************************************/
p.diy.control.colour input {
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    border: 0;
    cursor:pointer;
    border:1px solid #eee;
}

/** DROPDOWN SPECIFIC STYLES **************************************/
p.diy.control.dropdown select {
    padding: 3px;
    font-size: 12px;
}

/** UNIT SPECIFIC STYLES *******************************************/
p.diy.control.unit input {
    padding: 3px;
    font-size: 12px;
    width: 32px;
    text-align: center;
    border: 2px solid #FFB553;
}

p.diy.control.unit span.unit {
    font-size: 18px;
    padding-left: 3px;
}

/** BUILDER SPECIFIC STYLES ****************************************/
p.diy.control.builder {
    clear: both;
    float: none;
    width: auto;
    overflow: hidden;
    height: auto;
    margin-right: 0px;
}

.adminhtml-cms-page-edit p.diy.control.builder, 
.adminhtml-cms-page-new p.diy.control.builder {
    float: none;
    width: 97%;
}

p.diy.control.builder span.help {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* 3 column builder */
p.diy.control.builder .col3 #builder_0 {
    width: 20.5%;
    margin-left: 0;
}

p.diy.control.builder .col3 #builder_1 {
    width: 50%;
}

p.diy.control.builder .col3 #builder_2 {
    width: 20.5%;
    margin-right: 0;
}

/* 2 column left builder */
p.diy.control.builder .col2-left #builder_0 {
    width: 22.5%;
    margin-left: 0;
}

p.diy.control.builder .col2-left #builder_1 {
    width: 72%;
    margin-right: 0;
}

/* 2 column right builder */
p.diy.control.builder .col2-right #builder_0 {
    width: 72%;
    margin-left: 0;
}

p.diy.control.builder .col2-right #builder_1 {
    width: 22.5%;
    margin-right: 0;
}

/* 1 column builder */
p.diy.control.builder .col1 #builder_0 {
    width: 98%;
    margin: 10px 0;
}

p.diy.control.builder .container {
    background-color: #fcfcfc;
    margin: 10px;
    padding: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    float: left;
}

p.diy.control.builder .container .block {
    border: 1px solid #566D7E;
    padding: 3px;
    margin-top: 3px;
    background: #A0CFEC;
}

p.diy.control.builder .container .block.static {
    background: #FFFECD;
    border: 1px solid #968A61;
}


p.diy.control.builder .container .container_canvas li {
    cursor: move;
}

p.diy.control.builder .container .container_canvas li.deleted {
    opacity: 0.3;
}

p.diy.control.builder .container .add-block {
    margin-top: 10px;
}

p.diy.control.builder .static_block_add {
    padding-top: 10px;
}

p.diy.control.builder .static_block_add select {
    margin-right: 10px;
}

/** FONT SPECIFIC STYLES *******************************************/
p.diy.control.font option, p.diy.control.font select {
    font-size: 18px;
}

/** STORE SWITCHER SPECIFIC STYLES *******************************************/
div.diy.store_switcher {
    background: #f6f6f6;
    border:1px solid #eee;
    margin-bottom: 10px;
    padding:10px;
}