<?xml version="1.0"?>
<!--
// {{license}}
-->
<config>
    <modules>
        <Meanbee_Diy>
            <active>true</active>
            <codePool>community</codePool>
            <depends>
                <Mage_Core />
                <Mage_Cms />
            </depends>
        </Meanbee_Diy>
    </modules>
</config>
