
/* Styles for ColorPicker popUp */

#mColorPicker {
    border: 1px solid #ccc;
    color: #fff;
    z-index: 999998;
    width: 194px;
    height: 184px;
    font-size: 12px;
    font-family: times;
}

.mPastColor {
    height: 18px;
    width: 18px;
    border: 1px solid #000;
    float: left;
}

#colorPreview {
    height: 50px;
}

.mNoLeftBorder {
    border-left: 0;
}

.mClear {
    clear: both;
}

#mColorPickerWrapper {
    position: relative;
    border: solid 1px gray;
    z-index: 999999;
}

#mColorPickerImg {
  height: 128px;
  width: 192px;
  border: 0;
  cursor: crosshair;
  background-image: url("../images/colorpicker.png");
}

#mColorPickerImgGray {
    height: 8px;
    width: 192px;
    border: 0;
    cursor: crosshair;
    background-image: url("../images/graybar.jpg");
}

#mColorPickerInput {
    border: solid 1px gray;
    font-size: 10pt;
    margin: 3px;
    width: 80px;
}

#mColorPickerImgGrid {
    border: 0;
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
}

#mColorPickerSwatches {
    border-right: 1px solid #000;
}

#mColorPickerFooter {
    background-image: url("../images/grid.gif");
    position: relative;
    height: 26px;
}